<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<%- include('../partials/header') -%>
<body>
    <div class="container">
        <!-- SPLICE Tools Catalog -->
        <h3 class="header"> Tools Catalog</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Tool Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Description</th>
                    <th scope="col">License</th>
                    <th scope="col">Standard Support</th>
                </tr>
            </thead>
            <tbody>
                <% toolsCatalog.forEach((tool) => { %> 
                    <tr>
                        <td scope="row"><%= tool.platform_name %></td>
                        <td><a href="<%= tool.url %>" target="_blank">Visit</a></td>
                        <td><%= tool.tool_description %></td>
                        <td><%= tool.license %></td>
                        <td><%= tool.standard_support %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <!-- SPLICE SLC Items Catalog (Unchanged) -->
        <h3 class="header">SLC Item Catalog</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Exercise Title</th>
                    <th scope="col">iframe_URL</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Keywords</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% catalog.forEach((SLCItem) => { %> 
                    <tr>
                        <td scope="row">
                            <form style="display: none" action="/item/" method="post">
                                <input type="submit" value="<%= SLCItem.exercise_name %>" name="item_link" id="item_link<%= SLCItem.exercise_name %>"></input>
                            </form>
                            <label style="text-decoration: underline; color: #0000EE" for="item_link<%= SLCItem.exercise_name %>"><%= SLCItem.exercise_name %></label>
                        </td>
                        <td><a href="<%= SLCItem.iframe_url %>" target=_blank>See in iframe</a></td>
                        <td><a href="<%= SLCItem.url%>"</a><%= SLCItem.platform_name %></td>
                        <td>
                            <form style="display: none" action="/search/" method="post">
                                <input type="submit" value="<%= SLCItem.keywords %>" name="query" id="query<%= SLCItem.keywords %>"></input>
                            </form>
                            <label style="text-decoration: underline; color: #0000EE" for="query<%= SLCItem.keywords %>"><%= SLCItem.keywords %></label>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include('../partials/footer') -%>
</html>