<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<link rel="stylesheet" href="/css/style.css">
<%- include('../partials/header') -%>
<body>
    <div class="hero-image bg-primary text-white text-center py-5">
        <div class="hero-text">
            <h4 class="display-4">SPLICE Catalog</h4>
            <p class="lead">Splice Catalog provides access to curated online learning and support materials and content creation for CS Education, led by the Splice Working group.</p>
        </div>
    </div>
    
    <div class="container my-5">
        <h3 class="mb-4">Statistics</h3>
        <div class="row text-center">
            <div class="col-4">
                <h3><%= toolCatalogCount %>+</h3>
                <p>Learning Resources</p>
            </div>
            <div class="col-4">
                <h3><%= slcItemCount %>+</h3>
                <p>Smart Learning Contents</p>
            </div>
            <div class="col-4">
                <h3><%= datasetCount %>+</h3>
                <p>Datasets</p>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer') -%>
</body>
</html>