<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<%- include('../partials/header') -%>
<meta http-equiv='content-type' content='text/html; charset=UTF-8'/> 
<link rel='stylesheet' href='../cssplice.css' type='text/css'/>
<style>
pre.message {
    background: white;
    border: thin dotted gray;
    margin: 1em;
    padding: 1em;
}
</style>
<script type='text/javascript' charset='utf-8' src='splice-parent.js'></script>
<script>//<![CDATA[
window.addEventListener('DOMContentLoaded', () => {
  function sendingIframe(event) {
    for (const f of document.getElementsByTagName('iframe'))
      if (f.contentWindow === event.source) return f
    return undefined
  }

  // Connect the existing iframe with message handling
  const existingIframe = document.getElementById('previewIframe');
  
  window.addEventListener("message", event => {
    const iframe = sendingIframe(event)
    if (!iframe) return;
    
    // Find the associated message pre element
    const pre = document.getElementById('previewMessages');
    if (pre) {
      pre.textContent += JSON.stringify(event.data) + '\n';
    }
    
    if (event.data.subject === 'SPLICE.getState') {
      // TODO Demo state sending?
      const state = null // getStateOfProblem(iframe)
      iframe.contentWindow.postMessage({ 
        subject: 'SPLICE.getState.response', 
        message_id: event.data.message_id, 
        state 
      }, '*');
    }
  }, false);
})
//]]></script>
<body>
    <div class="container">
        <h1 class="header"><%= item.exercise_name %></h1>
        <table class="table table-striped">
            <!-- <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
            </thead> -->
            <tbody class="table-group-divider">
                <tr>
                    <td>Platform Name</td>
                    <td><%= item.platform_name %></td>
                </tr>
                <tr>
                    <td>Exercise Type</td>
                    <td><%= item.exercise_type %></td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td><%= item.language %></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><%= item.description %></td>
                </tr>
                <tr>
                    <td>Keywords</td>
                    <td>
                      <% item.keywords.forEach((keyword, index) => { %>
                        <form style="display: none" action="/search/" method="post">
                          <input type="submit" value="<%= keyword %>" name="query" id="query<%= keyword %>"></input>
                        </form>
                        <label style="text-decoration: underline; color: #0000EE" for="query<%= keyword %>">
                          <%= keyword %>
                        </label>
                        <% if (index < item.keywords.length - 1) { %>, <% } %>
                      <% }); %>
                    </td>
                  </tr>
                  
                <tr>
                    <td>URL</td>
                    <td><a href="<%= item.url %>" target=_blank><%= item.url %></a></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><%= item.author %></td>
                </tr>
                <tr>
                    <td>Institution</td>
                    <td><%= item.institution %></td>
                </tr>
                <tr>
                    <td>Iframe URL</td>
                    <td><a href="<%= item.iframe_url %>" target=_blank><%= item.iframe_url %></a></td>
                </tr>
                <tr>
                    <td>LTI URL</td>
                    <td><a href="<%= item.lti_url %>" target=_blank><%= item.lti_url %></a></td>
                </tr>
                <tr>
                    <td>LTI Instructions URL</td>
                    <td><a href="<%= item.lti_instructions_url %>" target=_blank><%= item.lti_instructions_url %></a></td>
                </tr>
            </tbody>
        </table> 
        <div class="iframe-preview">
            <h4>Preview</h4>
            <iframe id="previewIframe" src="<%= item.iframe_url %>" width="100%" height="100%"></iframe>
            <pre id="previewMessages" class="message"></pre>
        </div>
    </div>

    <!-- Bootstrap JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>