<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<%- include('../partials/header') -%>
<body>
    <div class="container">
        <h1 class="header">Search Results</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Exercise Title</th>
                    <th scope="col">iframe_URL</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Keywords</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% results.forEach((SLCItem) => { %> 
                    <tr>
                        <td scope="row">
                            <form style="display: none" action="/item/" method="post">
                                <input type="submit" value="<%= SLCItem.exercise_name %>" name="item_link" id="item_link<%= SLCItem.exercise_name %>"></input>
                            </form>
                            <label style="text-decoration: underline; color: #0000EE" for="item_link<%= SLCItem.exercise_name %>"><%= SLCItem.exercise_name %></label>
                        </td>
                        <td><a href="<%= SLCItem.iframe_url %>" target=_blank>See in iframe</a></td>
                        <td><%= SLCItem.platform_name %></td>
                        <td><%= SLCItem.keywords %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include('../partials/footer') -%>
</html>