<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<link rel="stylesheet" href="/css/style.css">
<%- include('../partials/header') -%>
<body>
    <div class="container">
        <h1 class="header">Search Results</h1>
        <%- include('../pages/table', { items: results }) %>
        <!-- Pagination Controls -->
        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="?query=<%= query %>&page=<%= currentPage - 1 %>">Previous</a>
            <% } %>
        
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="?query=<%= query %>&page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
            <% } %>
        
            <% if (currentPage < totalPages) { %>
                <a href="?query=<%= query %>&page=<%= currentPage + 1 %>">Next</a>
            <% } %>
        </div>   
        
    </div>
    <!-- Bootstrap JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
<%- include('../partials/footer') -%>
</html>