<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<link rel="stylesheet" href="/css/style.css">
<%- include('../partials/header') -%>
<body>
    <div class="container">
        <h1 class="header">Search Results</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Exercise Title</th>
                    <th scope="col">iframe_URL</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Keywords</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% results.forEach((SLCItem) => { %> 
                    <tr>
                        <td scope="row">
                            <a href="/item/<%= SLCItem.catalog_type %>/<%= exercise_name %>" 
                                style="text-decoration: underline; color: #0000EE">
                                 <%= SLCItem.exercise_name %>
                             </a>                     
                        </td>
                        <td><a href="<%= SLCItem.iframe_url %>" target=_blank>See in iframe</a></td>
                        <td><a href="<%= SLCItem.url %>"</a><%= SLCItem.platform_name %></td>
                        <td>
                            <% SLCItem.keywords.forEach((keyword, index) => { %>
                                <form style="display: none" action="/search/" method="post">
                                    <input type="submit" value="<%= keyword %>" name="query" id="query<%= keyword %>"></input>
                                </form>
                                <label style="text-decoration: underline; color: #0000EE" for="query<%= keyword %>"><%= keyword %></label>
                                <% if (index < SLCItem.keywords.length - 1) { %>, <% } %> <!-- Add comma between keywords -->
                            <% }); %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <!-- Pagination Controls -->
        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="?query=<%= query %>&page=<%= currentPage - 1 %>">Previous</a>
            <% } %>
        
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="?query=<%= query %>&page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
            <% } %>
        
            <% if (currentPage < totalPages) { %>
                <a href="?query=<%= query %>&page=<%= currentPage + 1 %>">Next</a>
            <% } %>
        </div>   
        
    </div>
    <!-- Bootstrap JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
<%- include('../partials/footer') -%>
</html>
