<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<%- include('../partials/header') -%>
<body>
    <div class="container">
        <h2 class="header">Tools Catalog</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Platform Name</th>
                  <!--  <th scope="col">URL</th>-->
                    <th scope="col">Description</th>
                    <th scope="col">License</th>
                    <th scope="col">Standards Support</th>
                </tr>
            </thead>
            <tbody>
                <% toolsCatalog.forEach((tool) => { %> 
                    <tr>
                      <!--  <td><%= tool.platform_name %></td>
                        <td><a href="<%= tool.url %>" target="_blank">Visit</a></td> -->
                        <td><a href="<%= tool.platform_name %>" target="_blank">Visit</a></td>
                        <td><%= tool.tool_description %></td>
                        <td><%= tool.license %></td>
                        <td><%= tool.standard_support %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<%- include('../partials/footer') -%>
</html>
